body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: url(/WebTest/img/hero.png) center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Tambahkan warna latar belakang dengan opasitas */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form {
  max-width: 300px;
  margin: 1rem auto;
}
section img {
  width: 100px;
}

.button {
  background-color: #011480;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  margin-bottom: 1rem;
}
button:hover {
  background-color: #000627;
}
footer {
  padding: 10px;
  text-align: center;
}
